<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kuisnusantara"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".MenuAwal"
            android:label="@string/title_activity_menu_awal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".KuisActivity"
            android:label="@string/title_activity_kuis"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MenuHome"
            android:label="@string/title_activity_menu_home" >
        </activity>
        <activity
            android:name=".MenuAbout"
            android:label="@string/title_activity_menu_about" >
        </activity>
        <activity
            android:name=".MenuHelp"
            android:label="@string/title_activity_menu_help" >
        </activity>
    </application>

</manifest>
